{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>
<hr />
<br>
<form action="/validate_signup" method="POST">
    <label>
        Username: <input type="text" name="username" />
    </label>
    <p class="err"></p>
    <label>
        Password: <input type="password" name="password" />
    </label>
    <p class="err"></p>
    <label>
        Verify Password: <input type="password" name="verify-password" />
    </label>
    <p class="err"></p>
    <label>
        Email (optional): <input type="text" name="email" />
    </label>
    <p class="err"></p>
    <input type="submit" value="Signup" />
</form>

{% endblock %}
